.wd-restaurant-result-name{
    color: royalblue;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.wd-restaurant-result-img{
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

.wd-restaurant-result-review{
    font-weight: bold;
    color: darkgrey;
    text-decoration: none;
}

